{
  "all": true,
  "extension": [
    ".js"
  ],
  "include": [
    "src/**/*.js"
  ],
  "report-dir": "./results/coverage",
  "cache": false,
  "sourceMap": false,
  "instrument": false,
  "exclude": [
    "test/**/*",
    "results/**/*"
  ],
  "reporter": [
    "lcov",
    "cobertura",
    "text-summary"
  ]
}